<div class="hero-wrap ftco-degree-bg" style="background-image: url('/images/lavas2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <img src="~/images/TurhanFirin.png" style="border-radius:150px" alt="Logo">
                    <h1 class="mb-4">35 Yıllık Tecrübe, Geleneksel Tat, Modern Üretim</h1>
                    <p style="font-size: 18px;">"Geleneksel lezzeti modern bir sunumla buluşturan Lavaş Ekmeği ürünlerinizin kalitesine renk katıyor."</p>
                    <a href="./images/EditliVideo.mp4" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-play"></span>
                        </div>
                        <div class="heading-title ml-5">
                            <span>Ekmeği tanımak için kolay yollar</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form action="#" class="request-form ftco-animate bg-primary">
                            <h2>Hizmet Verdiğimiz Lokasyonlar</h2>
                            <div class="form-group">
                                <input value="İstanbul" class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                            <div class="form-group">
                                <input value="İzmir" class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                            <div class="form-group">
                                <input value="Kocaeli" class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                            <div class="form-group">
                                <input value="Sakarya" class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                            <div class="form-group">
                                <input value="Hatay" class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                            <div class="form-group">
                                <input value="Osmaniye" class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                            <div class="form-group">
                                <input value="Eskisehir" class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                            <div class="form-group">
                                <input value="Bursa" class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                            <div class="form-group">
                                <input value="Yakında Tüm Türkiye' de..." class="btn btn-secondary py-2 px-3" readonly>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Mükemmel Ekmeklere Sahip Olmanın En İyi Yolu</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Teslim Alma Konumunuzu Bizimle Paylaşın</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Ekmek Adedinizi Belirtin</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Size En İyi Fırsatı Verelim</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-primary py-3 px-12">İçi Yumuşak Dışı Kıtır Çatlamayan Ekmeğe Ulaşmak Bu Kadar Kolay</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Teklifimiz</span>
                <h2 class="mb-2">Kalitenize Kalite Katmak</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url('./images/lavas11.jpg');">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Döner Ekmeği</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Pişmiş Gramajı</span>
                                    <p class="price ml-auto">170 <span>/g</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="#" id="iletisimButton" onclick="scrollToTop()" class="btn btn-primary py-2 mr-1">İletişime</a> <a href="#" id="iletisimButton" class="btn btn-secondary py-2 ml-1">Geç</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url('./images/lavas16.jpg');">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Kebap Ekmeği</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Pişmiş Gramajı</span>
                                    <p class="price ml-auto">130 <span>/g</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href=“tel:05539198607” class="btn btn-primary py-2 mr-1">İletişime</a> <a href="#" class="btn btn-secondary py-2 ml-1">Geç</a></p>
                            </div>
                        </div>
                    </div>                    
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url('./images/lavas19).jpg');">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Kebap Ekmeği</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Pişmiş Gramajı</span>
                                    <p class="price ml-auto">130 <span>/g</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">İletişime</a> <a href="#" class="btn btn-secondary py-2 ml-1">Geç</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url('./images/lavas1.jpeg');">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Döner Ekmeği</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Pişmiş Gramajı</span>
                                    <p class="price ml-auto">160 <span>/g</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">İletişim</a> <a href="#" class="btn btn-secondary py-2 ml-1">Geç</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url('./images/lavas008.jpeg');">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">Döner Ekmeği</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">Pişmiş Gramajı</span>
                                    <p class="price ml-auto">200 <span>/g</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">İletişime</a> <a href="#" class="btn btn-secondary py-2 ml-1">Geç</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(./images/bigFoto1.jpg);">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">Hakkımızda</span>
                    <h2 class="mb-4">Turhan Lavaş</h2>

                    <p>Biz, lavaş ekmeği konusunda uzmanız. Hatay'ın zengin kültürü ve damak tadını yansıtan lavaşlarımız, geleneksel yöntemlerle ve sevgiyle hazırlanmaktadır. Usta şeflerimizin elinden çıkan her bir lavaş, lezzetin ve kalitenin mükemmel bir birleşimidir.</p>
                    <p>
                        Turhan Fırını olarak, her aşamada titizlikle seçilen en kaliteli malzemeleri kullanıyoruz. 
                        Üretim sürecimiz, modern teknoloji ile geleneksel tatları harmanlayarak en üst düzeyde hijyen ve 
                        kalite standartlarını sağlamayı amaçlamaktadır. Sizleri Turhan Fırını'nın sıcacık ve lezzetli dünyasına
                        davet ediyoruz. Hatay'ın eşsiz tatlarını deneyimlemek, kaliteyi ve özeni hissetmek için bizi ziyaret 
                        etmeye bekliyoruz. İyi bir lavaş ekmeği deneyiminin sadece bir tık uzağınızda olduğunu unutmayın.
                        Kaliteli ürünlerimiz ve sıcak atmosferimizle sizleri ağırlamaktan mutluluk duyacağız.
                    </p>
                    <p><a href="#" class="btn btn-primary py-3 px-4">İletişim Kur</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Servisler</span>
                <h2 class="mb-3">Sıcacık Ve Eşsiz Bir Yol</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Şehirler Arası Servis</h3>
                        <p>Ekmeklerimiz gelişmiş teslimat kadrosuyla ekmeklerinizi nerede olursanız olun olması gerektiği lokasyonda sizlere ulaştırır.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Hızlı Ve Zamanında</h3>
                        <p>Ekmeklerimiz gelişmiş teslimat kadrosuyla ekmeklerinizi zamanında olması gerektiği gibi sizlere ulaştırır.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Güler Yüzlü Servis</h3>
                        <p>Kadromuz güler yüzlü çalışma arkadaşlarımızdan oluşup gününüze renk katmaya hali hazırdalar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Referanslar</span>
                <h2 class="mb-3">Referanslarımız Mutlu Müşterilerimizdir</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('./images/yusuf_usta.jpeg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">İskenderun ilçesinin en çok tercih edilenlerinden biri olan Yusuf Usta bizi sizlere tercüme edecektir.</p>
                                <p class="name">Dönerci Yusuf Usta</p>
                                <span class="position">Kurumsal</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('./images/Oncu.png')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Türkiyenin bir çok farklı şehrinde hizmet veren Öncü firması önde gelen farkındalığı ile referanslarımızdan biridir.</p>
                                <p class="name">Öncü Döner</p>
                                <span class="position">Kurumsal</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('./images/Coban.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Eşsiz İskenderun dönerini her yerde yaşatmak isteyen Katık; Kalitesine kalite katmak için Turhan Fırın' ı tercih ediyor</p>
                                <p class="name">Çoban Katık</p>
                                <span class="position">Kurumsal</span>
                            </div>
                        </div>
                    </div> 
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('./images/Ali.png')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Arsuz İlçesinde harikalar yaratan Ali Usta, Ekmeklerini bizden tercih ediyor</p>
                                <p class="name">Ali Usta</p>
                                <span class="position">Bireysel</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('./images/King.png')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Körfezin vazgeçilmez olanlarından olan Katık King, Turhan Fırını tercih ediyor.</p>
                                <p class="name">Katık King</p>
                                <span class="position">Bireysel</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="ftco-counter ftco-section img bg-light" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="35">0</strong>
                        <span>Yıllık <br>Tecrübe</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="35460">0</strong>
                        <span>Günlük <br>Çıkan Ekmek</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="239">0</strong>
                        <span>Mutlu <br>Müşteri</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="3">0</strong>
                        <span>Toplam <br>Şube</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>